In [73]:
import pandas as pd
import numpy as np
df=pd.read_csv("covid_vaccine_statewise.csv")
df

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7840,11/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,12/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,13/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,14/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,15/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
df.isnull().sum()

Updated On                                0
State                                     0
Total Doses Administered                224
Sessions                                224
 Sites                                  224
First Dose Administered                 224
Second Dose Administered                224
Male (Doses Administered)               384
Female (Doses Administered)             384
Transgender (Doses Administered)        384
 Covaxin (Doses Administered)           224
CoviShield (Doses Administered)         224
Sputnik V (Doses Administered)         4850
AEFI                                   2407
18-44 Years (Doses Administered)       6143
45-60 Years (Doses Administered)       6143
60+ Years (Doses Administered)         6143
18-44 Years(Individuals Vaccinated)    4112
45-60 Years(Individuals Vaccinated)    4111
60+ Years(Individuals Vaccinated)      4111
Male(Individuals Vaccinated)           7685
Female(Individuals Vaccinated)         7685
Transgender(Individuals Vaccinated)    7685
Total Individuals Vaccinated           1926
dtype: int64

In [75]:
df.drop(columns='Updated On', inplace=True)
df

,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),Covaxin (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,India,48276.0,3455.0,2957.0,48276.0,0.0,NaN,NaN,NaN,579.0,...,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,India,58604.0,8532.0,4954.0,58604.0,0.0,NaN,NaN,NaN,635.0,...,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,India,99449.0,13611.0,6583.0,99449.0,0.0,NaN,NaN,NaN,1299.0,...,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,India,195525.0,17855.0,7951.0,195525.0,0.0,NaN,NaN,NaN,3017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,India,251280.0,25472.0,10504.0,251280.0,0.0,NaN,NaN,NaN,3946.0,...,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7840,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
df.drop(columns='Sessions', inplace=True)
df

,State,Total Doses Administered,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),Covaxin (Doses Administered),CoviShield (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,India,48276.0,2957.0,48276.0,0.0,NaN,NaN,NaN,579.0,47697.0,...,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,India,58604.0,4954.0,58604.0,0.0,NaN,NaN,NaN,635.0,57969.0,...,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,India,99449.0,6583.0,99449.0,0.0,NaN,NaN,NaN,1299.0,98150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,India,195525.0,7951.0,195525.0,0.0,NaN,NaN,NaN,3017.0,192508.0,...,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,India,251280.0,10504.0,251280.0,0.0,NaN,NaN,NaN,3946.0,247334.0,...,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7840,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
df.drop(columns='First Dose Administered', inplace=True)
df

,State,Total Doses Administered,Sites,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),Covaxin (Doses Administered),CoviShield (Doses Administered),Sputnik V (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,India,48276.0,2957.0,0.0,NaN,NaN,NaN,579.0,47697.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,India,58604.0,4954.0,0.0,NaN,NaN,NaN,635.0,57969.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,India,99449.0,6583.0,0.0,NaN,NaN,NaN,1299.0,98150.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,India,195525.0,7951.0,0.0,NaN,NaN,NaN,3017.0,192508.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,India,251280.0,10504.0,0.0,NaN,NaN,NaN,3946.0,247334.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7840,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
df.drop(columns='Second Dose Administered', inplace=True)
df

,State,Total Doses Administered,Sites,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),Covaxin (Doses Administered),CoviShield (Doses Administered),Sputnik V (Doses Administered),AEFI,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,India,48276.0,2957.0,NaN,NaN,NaN,579.0,47697.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,India,58604.0,4954.0,NaN,NaN,NaN,635.0,57969.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,India,99449.0,6583.0,NaN,NaN,NaN,1299.0,98150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,India,195525.0,7951.0,NaN,NaN,NaN,3017.0,192508.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,India,251280.0,10504.0,NaN,NaN,NaN,3946.0,247334.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7840,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
df.drop(columns='Transgender (Doses Administered)', inplace=True)
df

,State,Total Doses Administered,Sites,Male (Doses Administered),Female (Doses Administered),Covaxin (Doses Administered),CoviShield (Doses Administered),Sputnik V (Doses Administered),AEFI,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,India,48276.0,2957.0,NaN,NaN,579.0,47697.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,India,58604.0,4954.0,NaN,NaN,635.0,57969.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,India,99449.0,6583.0,NaN,NaN,1299.0,98150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,India,195525.0,7951.0,NaN,NaN,3017.0,192508.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,India,251280.0,10504.0,NaN,NaN,3946.0,247334.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7840,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
df.drop(columns='CoviShield (Doses Administered)', inplace=True)
df

,State,Total Doses Administered,Sites,Male (Doses Administered),Female (Doses Administered),Covaxin (Doses Administered),Sputnik V (Doses Administered),AEFI,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,India,48276.0,2957.0,NaN,NaN,579.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,India,58604.0,4954.0,NaN,NaN,635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,India,99449.0,6583.0,NaN,NaN,1299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,India,195525.0,7951.0,NaN,NaN,3017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,India,251280.0,10504.0,NaN,NaN,3946.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7840,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
df.drop(columns='Sputnik V (Doses Administered)', inplace=True)
df

,State,Total Doses Administered,Sites,Male (Doses Administered),Female (Doses Administered),Covaxin (Doses Administered),AEFI,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,India,48276.0,2957.0,NaN,NaN,579.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,India,58604.0,4954.0,NaN,NaN,635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,India,99449.0,6583.0,NaN,NaN,1299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,India,195525.0,7951.0,NaN,NaN,3017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,India,251280.0,10504.0,NaN,NaN,3946.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7840,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
df.drop(columns='AEFI', inplace=True)
df

,State,Total Doses Administered,Sites,Male (Doses Administered),Female (Doses Administered),Covaxin (Doses Administered),18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,India,48276.0,2957.0,NaN,NaN,579.0,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,India,58604.0,4954.0,NaN,NaN,635.0,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,India,99449.0,6583.0,NaN,NaN,1299.0,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,India,195525.0,7951.0,NaN,NaN,3017.0,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,India,251280.0,10504.0,NaN,NaN,3946.0,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7840,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
df.drop(columns='18-44 Years (Doses Administered)', inplace=True)
df

,State,Total Doses Administered,Sites,Male (Doses Administered),Female (Doses Administered),Covaxin (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,India,48276.0,2957.0,NaN,NaN,579.0,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,India,58604.0,4954.0,NaN,NaN,635.0,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,India,99449.0,6583.0,NaN,NaN,1299.0,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,India,195525.0,7951.0,NaN,NaN,3017.0,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,India,251280.0,10504.0,NaN,NaN,3946.0,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7840,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
df.drop(columns='45-60 Years (Doses Administered)', inplace=True)
df

,State,Total Doses Administered,Sites,Male (Doses Administered),Female (Doses Administered),Covaxin (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,India,48276.0,2957.0,NaN,NaN,579.0,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,India,58604.0,4954.0,NaN,NaN,635.0,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,India,99449.0,6583.0,NaN,NaN,1299.0,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,India,195525.0,7951.0,NaN,NaN,3017.0,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,India,251280.0,10504.0,NaN,NaN,3946.0,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7840,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
df.drop(columns='60+ Years (Doses Administered)', inplace=True)
df

,State,Total Doses Administered,Sites,Male (Doses Administered),Female (Doses Administered),Covaxin (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,India,48276.0,2957.0,NaN,NaN,579.0,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,India,58604.0,4954.0,NaN,NaN,635.0,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,India,99449.0,6583.0,NaN,NaN,1299.0,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,India,195525.0,7951.0,NaN,NaN,3017.0,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,India,251280.0,10504.0,NaN,NaN,3946.0,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7840,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
df.drop(columns='18-44 Years(Individuals Vaccinated)', inplace=True)
df

,State,Total Doses Administered,Sites,Male (Doses Administered),Female (Doses Administered),Covaxin (Doses Administered),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,India,48276.0,2957.0,NaN,NaN,579.0,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,India,58604.0,4954.0,NaN,NaN,635.0,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,India,99449.0,6583.0,NaN,NaN,1299.0,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,India,195525.0,7951.0,NaN,NaN,3017.0,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,India,251280.0,10504.0,NaN,NaN,3946.0,NaN,NaN,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7840,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
df.drop(columns='45-60 Years(Individuals Vaccinated)', inplace=True)
df

,State,Total Doses Administered,Sites,Male (Doses Administered),Female (Doses Administered),Covaxin (Doses Administered),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,India,48276.0,2957.0,NaN,NaN,579.0,NaN,23757.0,24517.0,2.0,48276.0
1,India,58604.0,4954.0,NaN,NaN,635.0,NaN,27348.0,31252.0,4.0,58604.0
2,India,99449.0,6583.0,NaN,NaN,1299.0,NaN,41361.0,58083.0,5.0,99449.0
3,India,195525.0,7951.0,NaN,NaN,3017.0,NaN,81901.0,113613.0,11.0,195525.0
4,India,251280.0,10504.0,NaN,NaN,3946.0,NaN,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...,...
7840,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
df.drop(columns='60+ Years(Individuals Vaccinated)', inplace=True)
df

,State,Total Doses Administered,Sites,Male (Doses Administered),Female (Doses Administered),Covaxin (Doses Administered),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,India,48276.0,2957.0,NaN,NaN,579.0,23757.0,24517.0,2.0,48276.0
1,India,58604.0,4954.0,NaN,NaN,635.0,27348.0,31252.0,4.0,58604.0
2,India,99449.0,6583.0,NaN,NaN,1299.0,41361.0,58083.0,5.0,99449.0
3,India,195525.0,7951.0,NaN,NaN,3017.0,81901.0,113613.0,11.0,195525.0
4,India,251280.0,10504.0,NaN,NaN,3946.0,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...
7840,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
df.drop(columns='Male(Individuals Vaccinated)', inplace=True)
df

,State,Total Doses Administered,Sites,Male (Doses Administered),Female (Doses Administered),Covaxin (Doses Administered),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,India,48276.0,2957.0,NaN,NaN,579.0,24517.0,2.0,48276.0
1,India,58604.0,4954.0,NaN,NaN,635.0,31252.0,4.0,58604.0
2,India,99449.0,6583.0,NaN,NaN,1299.0,58083.0,5.0,99449.0
3,India,195525.0,7951.0,NaN,NaN,3017.0,113613.0,11.0,195525.0
4,India,251280.0,10504.0,NaN,NaN,3946.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...
7840,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
df.drop(columns='Female(Individuals Vaccinated)', inplace=True)
df

,State,Total Doses Administered,Sites,Male (Doses Administered),Female (Doses Administered),Covaxin (Doses Administered),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,India,48276.0,2957.0,NaN,NaN,579.0,2.0,48276.0
1,India,58604.0,4954.0,NaN,NaN,635.0,4.0,58604.0
2,India,99449.0,6583.0,NaN,NaN,1299.0,5.0,99449.0
3,India,195525.0,7951.0,NaN,NaN,3017.0,11.0,195525.0
4,India,251280.0,10504.0,NaN,NaN,3946.0,24.0,251280.0
...,...,...,...,...,...,...,...,...
7840,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
df.drop(columns='Transgender(Individuals Vaccinated)', inplace=True)
df

,State,Total Doses Administered,Sites,Male (Doses Administered),Female (Doses Administered),Covaxin (Doses Administered),Total Individuals Vaccinated
0,India,48276.0,2957.0,NaN,NaN,579.0,48276.0
1,India,58604.0,4954.0,NaN,NaN,635.0,58604.0
2,India,99449.0,6583.0,NaN,NaN,1299.0,99449.0
3,India,195525.0,7951.0,NaN,NaN,3017.0,195525.0
4,India,251280.0,10504.0,NaN,NaN,3946.0,251280.0
...,...,...,...,...,...,...,...
7840,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN
7841,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN
7842,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN
7843,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN
7844,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
df.isnull().sum()

State                               0
Total Doses Administered          224
 Sites                            224
Male (Doses Administered)         384
Female (Doses Administered)       384
 Covaxin (Doses Administered)     224
Total Individuals Vaccinated     1926
dtype: int64

In [101]:
df.dropna(inplace=True)
df

,State,Total Doses Administered,Sites,Male (Doses Administered),Female (Doses Administered),Covaxin (Doses Administered),Total Individuals Vaccinated
212,Andaman and Nicobar Islands,23.0,2.0,12.0,11.0,0.0,23.0
213,Andaman and Nicobar Islands,23.0,2.0,12.0,11.0,0.0,23.0
214,Andaman and Nicobar Islands,42.0,2.0,29.0,13.0,0.0,42.0
215,Andaman and Nicobar Islands,89.0,2.0,53.0,36.0,0.0,89.0
216,Andaman and Nicobar Islands,124.0,3.0,67.0,57.0,0.0,124.0
...,...,...,...,...,...,...,...
7788,West Bengal,19010947.0,732.0,8294637.0,6439825.0,2364785.0,14736671.0
7789,West Bengal,19349842.0,2645.0,8436127.0,6559127.0,2390176.0,14997560.0
7790,West Bengal,19667535.0,2390.0,8573653.0,6675856.0,2411607.0,15251854.0
7791,West Bengal,20022881.0,2511.0,8729509.0,6804328.0,2430079.0,15536230.0
7792,West Bengal,20352923.0,2260.0,8871378.0,6925019.0,2453856.0,15798841.0