In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
covid_vaccine_statewise_data = pd.read_csv('covid_vaccine_statewise.csv')

In [3]:
print(covid_vaccine_statewise_data.head())

   Updated On  State  Total Doses Administered  Sessions   Sites   \
0  16/01/2021  India                   48276.0    3455.0   2957.0
1  17/01/2021  India                   58604.0    8532.0   4954.0
2  18/01/2021  India                   99449.0   13611.0   6583.0
3  19/01/2021  India                  195525.0   17855.0   7951.0
4  20/01/2021  India                  251280.0   25472.0  10504.0

   First Dose Administered  Second Dose Administered  \
0                  48276.0                       0.0
1                  58604.0                       0.0
2                  99449.0                       0.0
3                 195525.0                       0.0
4                 251280.0                       0.0

   Male (Doses Administered)  Female (Doses Administered)  \
0                        NaN                          NaN
1                        NaN                          NaN
2                        NaN                          NaN
3                        NaN                          NaN
4                        NaN                          NaN

   Transgender (Doses Administered)  ...  18-44 Years (Doses Administered)  \
0                               NaN  ...                               NaN
1                               NaN  ...                               NaN
2                               NaN  ...                               NaN
3                               NaN  ...                               NaN
4                               NaN  ...                               NaN

   45-60 Years (Doses Administered)  60+ Years (Doses Administered)  \
0                               NaN                             NaN
1                               NaN                             NaN
2                               NaN                             NaN
3                               NaN                             NaN
4                               NaN                             NaN

   18-44 Years(Individuals Vaccinated)  45-60 Years(Individuals Vaccinated)  \
0                                  NaN                                  NaN
1                                  NaN                                  NaN
2                                  NaN                                  NaN
3                                  NaN                                  NaN
4                                  NaN                                  NaN

   60+ Years(Individuals Vaccinated)  Male(Individuals Vaccinated)  \
0                                NaN                       23757.0
1                                NaN                       27348.0
2                                NaN                       41361.0
3                                NaN                       81901.0
4                                NaN                       98111.0

   Female(Individuals Vaccinated)  Transgender(Individuals Vaccinated)  \
0                         24517.0                                  2.0
1                         31252.0                                  4.0
2                         58083.0                                  5.0
3                        113613.0                                 11.0
4                        153145.0                                 24.0

   Total Individuals Vaccinated
0                       48276.0
1                       58604.0
2                       99449.0
3                      195525.0
4                      251280.0

[5 rows x 24 columns]

In [4]:
covid_vaccine_statewise_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7845 entries, 0 to 7844
Data columns (total 24 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Updated On                           7845 non-null   object
 1   State                                7845 non-null   object
 2   Total Doses Administered             7621 non-null   float64
 3   Sessions                             7621 non-null   float64
 4    Sites                               7621 non-null   float64
 5   First Dose Administered              7621 non-null   float64
 6   Second Dose Administered             7621 non-null   float64
 7   Male (Doses Administered)            7461 non-null   float64
 8   Female (Doses Administered)          7461 non-null   float64
 9   Transgender (Doses Administered)     7461 non-null   float64
 10   Covaxin (Doses Administered)        7621 non-null   float64
 11  CoviShield (Doses Administered)      7621 non-null   float64
 12  Sputnik V (Doses Administered)       2995 non-null   float64
 13  AEFI                                 5438 non-null   float64
 14  18-44 Years (Doses Administered)     1702 non-null   float64
 15  45-60 Years (Doses Administered)     1702 non-null   float64
 16  60+ Years (Doses Administered)       1702 non-null   float64
 17  18-44 Years(Individuals Vaccinated)  3733 non-null   float64
 18  45-60 Years(Individuals Vaccinated)  3734 non-null   float64
 19  60+ Years(Individuals Vaccinated)    3734 non-null   float64
 20  Male(Individuals Vaccinated)         160 non-null    float64
 21  Female(Individuals Vaccinated)       160 non-null    float64
 22  Transgender(Individuals Vaccinated)  160 non-null    float64
 23  Total Individuals Vaccinated         5919 non-null   float64
dtypes: float64(22), object(2)
memory usage: 1.4+ MB

In [5]:
data = covid_vaccine_statewise_data[['Updated On', 'State', 'Total Doses Administered', 'First Dose Administered', 'Second Dose Administered']]
data

,Updated On,State,Total Doses Administered,First Dose Administered,Second Dose Administered
0,16/01/2021,India,48276.0,48276.0,0.0
1,17/01/2021,India,58604.0,58604.0,0.0
2,18/01/2021,India,99449.0,99449.0,0.0
3,19/01/2021,India,195525.0,195525.0,0.0
4,20/01/2021,India,251280.0,251280.0,0.0
...,...,...,...,...,...
7840,11/08/2021,West Bengal,NaN,NaN,NaN
7841,12/08/2021,West Bengal,NaN,NaN,NaN
7842,13/08/2021,West Bengal,NaN,NaN,NaN
7843,14/08/2021,West Bengal,NaN,NaN,NaN
7844,15/08/2021,West Bengal,NaN,NaN,NaN

In [8]:
data = data.dropna(subset=['Total Doses Administered','First Dose Administered', 'Second Dose Administered'], axis=0, how='all')

In [9]:
data

,Updated On,State,Total Doses Administered,First Dose Administered,Second Dose Administered
0,16/01/2021,India,48276.0,48276.0,0.0
1,17/01/2021,India,58604.0,58604.0,0.0
2,18/01/2021,India,99449.0,99449.0,0.0
3,19/01/2021,India,195525.0,195525.0,0.0
4,20/01/2021,India,251280.0,251280.0,0.0
...,...,...,...,...,...
7834,05/08/2021,West Bengal,31371174.0,22401043.0,8970131.0
7835,06/08/2021,West Bengal,31774086.0,22745949.0,9028137.0
7836,07/08/2021,West Bengal,32029325.0,22959053.0,9070272.0
7837,08/08/2021,West Bengal,32098768.0,23017864.0,9080904.0
7838,09/08/2021,West Bengal,32390378.0,23257417.0,9132961.0